<!--교수별 페이지-->


<div class = "container">
    <div id="photos">
      <ul id="photo-gallery">
        <div class="hover12">
            <div class="row marketing">
                <% @professor.each do |p|%>
                    <div class="col-lg-4">
                        <div class="wrapper">
                           <figure>
                                <img src="<%= p.img %>" >                               
                            </figure>                   
                        </div>
                        <h2 class="text"><%= p.title %></h2>
                        <span class="star-rating small">  
                            <% 1.upto(5) do |i|%>
                                <% if i == p.avg.round(0) %>
                                    <i class = "on"></i>
                                <% else %>
                                    <i></i>
                                <% end %>
                            <% end %>
                        </span>          
                       <p> <%= p.avg.round(2) %> (<%= p.connects.count %>명)</p>
                        <p><a class="btn btn-sm btn-default" href="/home/detail/<%= p.id %>" role="button">자세히 보기</a></p>
                    </div>  
                <% end %>
             </div>
         </div>
      </ul>
    </div>
</div>